@import url("reset.css");

:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;

    /* size */
    --size-button: 60px;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-black);
}

/* nav */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 18px;
    width: 100%;
    background-color: var(--color-pink);
}

nav .logo {
    width: var(--size-button);
}

nav span {
    padding: 30px 30px;
    color: var(--color-white);
    font-size: 40px;
    font-weight: 900;
}

nav a { 
    text-decoration: none;
}

/* main */
main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px;
    width: 200px;
}

.home_btn {
    position: absolute;
    top: 400px;
    left: 0;    
    width: 90%;
    height: 90%;
    background-color: var(--color-light-grey);
    border: 3px solid var(--color-light-grey);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 300ms ease;
}

.home_btn:hover {
    transform: scale(1.1);
}

.gradient-circle {
    position: absolute;
    top: 390px;
    left: -10px;
    z-index: -2;
    height: 100%;
    width: 100%;
      /* 원뿔 그레디언트 */
    background: conic-gradient(   
        /*40%*/
        #0e3149 5%,
        #97a1ad 35%,
        /*20%*/
        #fd7f84 40%,
        #fd7f84 60%,
        /*40%*/
        #3b88c3 70%,
        #123550 100%
    );
    border-radius: 50%;
  }

  .pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
  }
  
  .pointer-container {
    position: absolute;
    top: 360px;
    left: 85px;
    width: 10px;
    height: 130px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }