@import url("reset.css");

:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;

    /* size */
    --size-button: 60px;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-black);
}

/* nav */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: var(--color-pink);
}

nav .logo {
    width: var(--size-button);
}

nav span {
    padding: 20px 30px;
    color: var(--color-white);
    font-size: 40px;
    font-weight: 900;
}

/* main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 145px;
    height: 145px;
    background-color: var(--color-light-grey);
    border: 3px solid var(--color-light-grey);
    border-radius: 50%;
}
